[{{app_user}}]

user = {{app_user}}
group = {{app_user}}

listen = /run/php/app-php7.0-fpm.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
access.log = /home/{{app_user}}/logs/$pool.access.log
